@import url(../css/bootstrap.min.css);
@import url(../css/bootstrap-grid.min.css);
/* Desktop first queries */
/* Larger than Desktop HD */
/* Larger than desktop */
@media (max-width: 1269px) {
  .price-section-wrapper {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important; } }

/* Larger than tablet */
/* Larger than phablet */
/* Larger than mobile */
/* Larger than mobile */
/* Larger than desktop */
/* Larger than Desktop HD */
header {
  z-index: 9999;
  position: fixed;
  height: 100px;
  width: 100%;
  -webkit-transition: .6s;
  transition: .6s;
  background-color: rgba(0, 0, 0, 0.2); }
  header .navigation {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header .navigation .logo {
      -webkit-transition: .6s;
      transition: .6s;
      height: 100px;
      margin: 0 1em;
      width: 30%; }
    header .navigation .language {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 85%;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      right: 0; }
      header .navigation .language button {
        height: 30px;
        background-color: transparent;
        border: 0;
        -webkit-transition: .6s;
        transition: .6s;
        border-right: 1px solid black;
        cursor: pointer; }
        header .navigation .language button:hover {
          color: white !important;
          background-color: black; }
        header .navigation .language button:first-child {
          -webkit-border-top-left-radius: 5px;
                  border-top-left-radius: 5px;
          -webkit-border-bottom-left-radius: 5px;
                  border-bottom-left-radius: 5px; }
        header .navigation .language button:last-child {
          border: 0;
          -webkit-border-top-right-radius: 5px;
                  border-top-right-radius: 5px;
          -webkit-border-bottom-right-radius: 5px;
                  border-bottom-right-radius: 5px; }
        header .navigation .language button:focus {
          outline: 0; }
      header .navigation .language .active {
        background-color: black;
        color: white !important; }
      header .navigation .language .scrolled:hover {
        background-color: white;
        color: black !important; }
      header .navigation .language .scrolled-active {
        background-color: white !important;
        color: black !important; }
    header .navigation .sandwich {
      right: 0;
      height: 30px;
      margin: 1em;
      cursor: pointer;
      z-index: 1; }
      header .navigation .sandwich .sandwich-topper,
      header .navigation .sandwich .sandwich-middle,
      header .navigation .sandwich .sandwich-bottom {
        margin: 5px;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        display: block;
        width: 30px;
        height: 3px;
        background-color: black;
        margin: 5px;
        -webkit-transition: .6s;
        transition: .6s; }
      header .navigation .sandwich:hover .sandwich-topper {
        width: 10px; }
      header .navigation .sandwich:hover .sandwich-middle {
        width: 15px; }
    header .navigation .sandwich.active {
      -webkit-transition: .6s;
      transition: .6s; }
      header .navigation .sandwich.active .sandwich-topper {
        -webkit-transform: translate(0, 8px) rotate(45deg);
            -ms-transform: translate(0, 8px) rotate(45deg);
                transform: translate(0, 8px) rotate(45deg); }
      header .navigation .sandwich.active .sandwich-middle {
        opacity: 0; }
      header .navigation .sandwich.active .sandwich-bottom {
        -webkit-transform: translate(0, -8px) rotate(-45deg);
            -ms-transform: translate(0, -8px) rotate(-45deg);
                transform: translate(0, -8px) rotate(-45deg); }
      header .navigation .sandwich.active:hover .sandwich-topper,
      header .navigation .sandwich.active:hover .sandwich-middle,
      header .navigation .sandwich.active:hover .sandwich-bottom {
        width: 30px; }
    header .navigation .navigation-list-wrapper {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      background-color: black;
      display: none; }
      header .navigation .navigation-list-wrapper ul {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        list-style-type: none;
        padding: 0;
        height: 100vh;
        margin: 0; }
        header .navigation .navigation-list-wrapper ul li {
          color: white;
          width: 33%;
          margin: 0 2px; }
          header .navigation .navigation-list-wrapper ul li a {
            padding: 20px;
            width: 100%;
            display: block;
            cursor: pointer; }
            header .navigation .navigation-list-wrapper ul li a:hover {
              color: black;
              background-color: white; }

.price-section {
  text-align: center;
  margin: 20px 0; }
  .price-section h1 {
    font-weight: lighter;
    background-color: white;
    color: black;
    padding: 20px 0;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
  .price-section .price-section-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto; }
    .price-section .price-section-wrapper #container {
      -webkit-perspective: 40px;
              perspective: 40px; }
      .price-section .price-section-wrapper #container #inner {
        -webkit-transition: -webkit-transform 0.5s;
        transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        transition: transform 0.5s, -webkit-transform 0.5s; }
    .price-section .price-section-wrapper .price-item {
      background-color: white;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      margin: 20px auto;
      padding: 20px;
      color: black;
      max-width: 350px;
      -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
      .price-section .price-section-wrapper .price-item h2 {
        font-size: 24px;
        padding: 20px;
        margin: 0; }
      .price-section .price-section-wrapper .price-item img {
        width: 100%;
        height: 100px;
        padding: 20px; }
      .price-section .price-section-wrapper .price-item .price-information {
        font-size: 14px;
        font-weight: lighter;
        padding: 20px;
        margin: 0; }
      .price-section .price-section-wrapper .price-item .price-sale {
        color: grey;
        font-weight: bold;
        line-height: 0;
        text-decoration: line-through;
        margin: 20px 0 0 0;
        padding: 0; }
      .price-section .price-section-wrapper .price-item .price-value {
        font-size: 34px;
        font-weight: bold;
        margin: 0 0 20px 0;
        padding: 0; }
      .price-section .price-section-wrapper .price-item a {
        font-size: 24px;
        border-bottom: 5px solid black;
        padding: 6px 2px;
        margin: 14px 20px;
        -webkit-transition: .39s;
        transition: .39s; }
        .price-section .price-section-wrapper .price-item a:hover {
          color: #ff8859;
          padding: 6px 14px;
          border-color: #00b2f0;
          -webkit-border-radius: 5px;
                  border-radius: 5px; }

.benefits-section h2 {
  background-color: white;
  color: black;
  font-weight: lighter;
  padding: 20px 0;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }

.benefits-section .benefits-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  overflow: hidden;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .benefits-section .benefits-wrapper .benefits-item {
    background-color: yellow;
    width: 33%;
    max-width: 250px;
    margin: 20px;
    padding: 10px 40px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
    .benefits-section .benefits-wrapper .benefits-item h4 {
      color: black;
      font-weight: lighter; }
    .benefits-section .benefits-wrapper .benefits-item .fa-stack {
      margin: 20px; }
    .benefits-section .benefits-wrapper .benefits-item .line {
      height: 1px;
      width: 22%;
      background-color: black; }
    .benefits-section .benefits-wrapper .benefits-item i {
      color: black; }
    .benefits-section .benefits-wrapper .benefits-item .fa-inverse {
      color: white !important; }
    .benefits-section .benefits-wrapper .benefits-item p {
      margin: 10px auto;
      color: black; }

.benefits-section ol {
  padding: 20px;
  width: 66%;
  text-align: left;
  margin: 20px auto;
  list-style-type: none;
  counter-reset: num;
  border: 1px solid white;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: white;
  color: black;
  -webkit-border-radius: 10px;
          border-radius: 10px; }
  .benefits-section ol h3 {
    font-weight: lighter;
    background-color: black;
    color: white;
    margin: 0 auto;
    padding: 20px; }
  .benefits-section ol .line {
    margin: 20px auto 0 auto;
    background-color: black; }
  .benefits-section ol li {
    font-weight: lighter; }
    .benefits-section ol li::before {
      content: counter(num) " ";
      counter-increment: num;
      font-weight: normal;
      font-size: 30px; }

.benefits-section p {
  font-weight: lighter;
  width: 66%;
  margin: 20px auto; }

.contacts-section .line {
  background-color: white;
  margin: 20px auto; }

.contacts-section .contact-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .contacts-section .contact-wrapper .contact-item {
    padding: 20px; }
    .contacts-section .contact-wrapper .contact-item i {
      font-size: 30px; }
    .contacts-section .contact-wrapper .contact-item p {
      font-weight: lighter; }

body {
  text-align: center; }

.line {
  display: block;
  width: 44%;
  margin: 0 auto;
  height: 1px; }

.button {
  padding: 10px 20px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-transition: .6s;
  transition: .6s; }

main {
  color: white;
  background-color: #00b2f0; }
  main img {
    height: 100vh;
    width: 100%; }
  main .bg-parallax {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0; }
