.benefits-section
  h2
    background-color: white
    color: black
    font-weight: lighter
    padding: 20px 0
    box-shadow: 0 0 20px rgba(0,0,0,.5)
  .benefits-wrapper
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-direction: row
    flex-wrap: wrap
    overflow: hidden
    justify-content: center
    .benefits-item
      background-color: yellow
      width: 33%
      max-width: 250px
      margin: 20px
      padding: 10px 40px
      border-radius: 10px
      box-shadow: 0 0 20px rgba(0,0,0,.5)
      h4
        color: black
        font-weight: lighter
      .fa-stack
        margin: 20px
      .line
        height: 1px
        width: 22%
        background-color: black
      i
        color: black
      .fa-inverse
        color: white !important
      p
        margin: 10px auto
        color: black
  ol
    padding: 20px
    width: 66%
    text-align: left
    margin: 20px auto
    list-style-type: none
    counter-reset: num
    border: 1px solid white
    box-shadow: 0 0 20px rgba(0,0,0,.5)
    background-color: white
    color: black
    border-radius: 10px
    h3
      font-weight: lighter
      background-color: black
      color: white
      margin: 0 auto
      padding: 20px
    .line
      margin: 20px auto 0 auto
      background-color: black
    li
      font-weight: lighter
      &::before
        content: counter(num) " "
        counter-increment: num
        font-weight: normal
        font-size: 30px
  p
    font-weight: lighter
    width: 66%
    margin: 20px auto
