header
  z-index: 9999
  position: fixed
  height: 100px
  width: 100%
  transition: .6s
  background-color: rgba(0,0,0,.2)
  .navigation
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    .logo
      transition: .6s
      height: 100px
      margin: 0 1em
      width: 30%
    .language
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      width: 85%
      justify-content: flex-end
      align-items: center
      right: 0
      button
        height: 30px
        background-color: transparent
        border: 0
        transition: .6s
        border-right: 1px solid black
        cursor: pointer
        &:hover
          color: white !important
          background-color: black
        &:first-child
          border-top-left-radius: 5px
          border-bottom-left-radius: 5px
        &:last-child
          border: 0
          border-top-right-radius: 5px
          border-bottom-right-radius: 5px
        &:focus
          outline: 0
      .active
        background-color: black
        color: white !important
      .scrolled
        &:hover
          background-color: white
          color: black !important
      .scrolled-active
        background-color: white !important
        color: black !important
    .sandwich
      right: 0
      height: 30px
      margin: 1em
      cursor: pointer
      z-index: 1
      .sandwich-topper,
      .sandwich-middle,
      .sandwich-bottom
        margin: 5px
        border-radius: 5px
        display: block
        width: 30px
        height: 3px
        background-color: black
        margin: 5px
        transition: .6s
      &:hover
        .sandwich-topper
          width: 10px
        .sandwich-middle
          width: 15px
        .sandwich-bottom
    .sandwich.active
      transition: .6s
      .sandwich-topper
        transform: translate(0, 8px) rotate(45deg)
      .sandwich-middle
        opacity: 0
      .sandwich-bottom
        transform: translate(0, -8px) rotate(-45deg)
      &:hover
        // transform: rotate(360deg)
        .sandwich-topper,
        .sandwich-middle,
        .sandwich-bottom
          width: 30px
    .navigation-list-wrapper
      width: 100%
      height: 100vh
      position: absolute
      top: 0
      background-color: black
      display: none
      ul
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        list-style-type: none
        padding: 0
        height: 100vh
        margin: 0
        li
          color: white
          width: 33%
          margin: 0 2px
          a
            padding: 20px
            width: 100%
            display: block
            cursor: pointer
            &:hover
              color: black
              background-color: white
