.price-section
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  flex-direction: row
  margin: 0 auto
  // width: 66%
  text-align: center
  .price-landing,
  .price-personal,
  .price-shop
    background-color: white
    border-radius: 10px
    margin: 20px auto
    padding: 20px
    color: black
    max-width: 400px
    .price-information
      font-weight: lighter
    .price-sale
      color: grey
      font-weight: bold
      line-height: 0
      text-decoration: line-through
      margin: 30px 0 0 0
    .price-value
      font-size: 34px
      font-weight: bold
    i
      // position: absolute
      // float: left
      // left: 0
      padding: 11px 20px
      border-top-left-radius: 10px
      border-bottom-left-radius: 10px
      background-color: yellow
      color: black
      border: 1px solid black
      border-right: 0
    .button
      border-top-left-radius: 0
      border-bottom-left-radius: 0
      background-color: white
      color: black
      border: 1px solid black
      border-left: 0
      &:hover
        cursor: pointer
        color: black
        box-shadow: inset 0 0 10px rgba(0,0,0,0.5)
