doctype html
html
  head
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
    link(rel="stylesheet", href="css/main.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Site
  body
    header
      div.navigation
        img(class="logo" src="img/solopov-white.svg", alt="")
        div.language
          button(class="translate active" id="en") EN
          //- button(class="translate" id="lt") LT
          button(class="translate" id="ru") RU
        div.sandwich
          span.sandwich-topper
          span.sandwich-middle
          span.sandwich-bottom
        div.navigation-list-wrapper
          ul
            li
              a(class="lang" key="home") home
            li
              a(class="lang" key="site") site
            li
              a(class="lang" key="contacts") contacts
    main
      img(src="img/bg.jpg", alt="")
      span.bg-parallax
      div.price-section
        h1.lang(key="h1-price-section") Sites
        div.price-section-wrapper
          div.price-item.price-landing
            h2.lang(key="h2-landing") Landing page
            img(src="/img/solopov.svg")
            p(class="price-information") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ipsum odit animi rem? Vitae, non expedita pariatur quam repudiandae, sunt praesentium neque a autem animi, dolorem quos, temporibus rem voluptatibus.
            p.price-sale 640$
            p.price-value 490$
            a.fas.fa-search
          div.price-item.price-personal
            h2.lang(key="h2-personal") Personal website
            img(src="/img/solopov.svg")
            p.price-information Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et dolorum nisi odio, quis excepturi ipsam vero! Provident harum autem nostrum dignissimos, excepturi eveniet, corporis labore beatae reprehenderit, enim eum sint.
            p.price-sale 730$
            p.price-value 590$
            a.fa.fa-search
          //- div.price-item.price-shop
            h2 Online shop
            img(src="../img/solopov.svg")
            p.price-information Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita natus aperiam eveniet nulla. Voluptate vel rerum, ipsum. Laborum a ipsa, dolorem nisi quos nesciunt voluptatum soluta, numquam inventore cupiditate ipsum.
            p.price-sale 820$
            p.price-value 690$
            a.fas.fa-search
      div.benefits-section
        h2.lang(key="h2-benefits-section") Why our clients choose us
        div.benefits-wrapper
          div.benefits-item
            span.fa-stack.fa-2x
              i.fas.fa-certificate.fa-stack-2x
              i.fas.fa-check.fa-stack-1x.fa-inverse
            h4.lang(key="benefits-quality") Quality
            span.line
            p.lang(key="benefits-quality-text") High quality websites
          div.benefits-item
            span.fa-stack.fa-2x
              i.fas.fa-square.fa-stack-2x
              i.far.fa-clock.fa-stack-1x.fa-inverse
            h4.lang(key="benefits-time") Time
            span.line
            p.lang(key="benefits-time-text") Fast development
          div.benefits-item
            span.fa-stack.fa-2x
              i.fas.fa-square.fa-stack-2x
              i.fas.fa-dollar-sign.fa-stack-1x.fa-inverse
            h4.lang(key="benefits-price") Price
            span.line
            p.lang(key="benefits-price-text") Low price
          div.benefits-item
            span.fa-stack.fa-2x
              i.fas.fa-square.fa-stack-2x
              i.fas.fa-headset.fa-stack-1x.fa-inverse
            h4.lang(key="benefits-support") Support
            span.line
            p.lang(key="benefits-support-text") best support for your projects
        ol
          h3.lang(key="h3-benefits-section") What included in the price
          li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae placeat doloremque fugit, esse in, exercitationem ipsa laborum consectetur id velit enim recusandae a repellat, quas natus reiciendis blanditiis culpa, eveniet!
          span.line
          li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ut, odio, saepe, pariatur excepturi rerum delectus ea aperiam sed expedita quibusdam totam nemo incidunt aut vero ad veniam est illum!
          span.line
          li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla cum, sint veniam aperiam reprehenderit nam nobis amet nihil. Laborum numquam reiciendis laudantium ipsum fugit, ad libero doloremque veritatis optio explicabo?
          span.line
          li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi qui, dolor iste, autem, quod ratione, et iusto a aliquam fugit vero ducimus non libero. Asperiores, molestiae hic deleniti? Vel, molestias.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat inventore est suscipit architecto veritatis vero quisquam ipsum veniam incidunt minima eaque dolores accusamus natus, laborum laboriosam ex, consequuntur odit vitae!
      div.contacts-section
        h2 If you have a ready business or a startup
        h3 and you want a cool site
        h4 Leave a request and we will contact you!
        span.line
        h6 quality website and quality offer - the face of your business
        div.contact-wrapper
          div.contact-item
            i.fas.fa-envelope
            p Email
          div.contact-item
            i.fab.fa-whatsapp
            p Whatsapp
          div.contact-item
            i.fab.fa-telegram-plane
            p Telegram
    footer
script(src="js/jquery.min.js")
script(src="js/main.js")
script(src="js/lang.js")
//- script(src="js/price-transform.js")
